.lottery-table {
    width: 100%;
    // border: 1px soliod #f7f8fa;
    > thead {
        > tr {
            th {
                padding: .5rem;

                border-top: 1px solid #bdbdbd;
                border-bottom: 1px solid #bdbdbd;

                // border-bottom: 1px solid red;
                // border: 1px solid #bdbdbd;
                background-color: #f7f8fa;
                font-size: 16px;
                font-weight: 600;
                &:first-child {
                    border-left: 1px solid #bdbdbd;
                    border-top: 1px solid #bdbdbd;
                    text-align: center;
                }
                &:last-child {
                    border-right: 1px solid #bdbdbd;
                    text-align: center;
                }
            }
        }
    } 
    > tbody {
        > tr {
            &:last-child {
                > td {
                    border-bottom: 1px solid #bdbdbd;
                }
            }
            > td {
                padding: .6rem .5rem;
                border-bottom: 1px solid #e1e1e1;
                &:first-child {
                    border-left: 1px solid #bdbdbd;
                    text-align: center;
                }
                &:last-child {
                    border-right: 1px solid #bdbdbd;
                    font-weight: 600;
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }
}

.person-detail {
    display: flex;
    align-items: center;;
    > img {
        width: 45px;
        height: 45px;
        margin-right: 30px;
        border-radius: 50%;
    }
    > div {
        flex: 1;
        > div {
            &:first-child {
                font-weight: 700;
                font-size: 15px;
            }
            &:last-child {
                color: gray;
            }
        }
    }
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    > span {
        font-size: 14px;
    }
    > input {
        width: 250px;
        margin-left: 15px;
        &::placeholder {
            font-size: 13px;
            color: gray;
        }
    }
}