$color-white: #ffffff;
$color-accent: #4ce1b6;
$color-red: #ff4861;
$color-yellow: #f6da6e;
$color-blue: #70bbfd;
$color-additional: #999999;
$color-additional-hover: darken($color-additional, 10%);

$themes: (
  light: (
    colorBackground: white,
    colorBackgroundBody: #f2f4f7,
    inboxButtonBackground: #f2f4f7,
    inboxButtonBackgroundHover: darken(#f2f4f7, 5%),
    colorHeaderDataPicker:#6db0ff,
    colorText: #646777,
    colorTextAdditional: #646777,
    logoImg: url(../../shared/img/logo/logo_light.svg),
    colorHover: #fafbfe,
    colorFolderHover: #f0eeee,
    colorBorder: #eff1f5,
    colorIcon: #dddddd,
    imgInvert: invert(0%),
    colorFieldsBorder: #f2f4f7,
    colorBubble: rgba(242, 244, 247, 0.65),
    colorBubbleActive: rgba(234, 238, 255, 0.6),
    colorScrollbar: #B4BFD0,
    colorFitness: #646777,
    colorEmoji: #232329,
    sidebarColor: aliceblue,
  ),
  dark: (
    colorBackground: #232329,
    colorBackgroundBody: #2a2a31,
    inboxButtonBackground: #2a2a31,
    inboxButtonBackgroundHover: lighten(#2a2a31, 5%),
    colorHeaderDataPicker:#063263,
    colorText: #dddddd,
    colorTextAdditional: #999999,
    logoImg: url(../../shared/img/logo/logo_dark.svg),
    colorHover: #38373f,
    colorFolderHover: #ffffff1A,
    colorBorder: #333246,
    colorIcon: #605f7b,
    imgInvert: invert(100%),
    colorFieldsBorder: #33333a,
    colorBubble: rgba(68, 79, 97, 0.65),
    colorBubbleActive: rgba(92, 104, 156, 0.6),
    colorScrollbar: #606071,
    colorFitness: #ffffff,
    colorEmoji: #ffffff,
    sidebarColor: #232329,
  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}


$directions: (
    ltr: (
      direction: ltr,
  
      right: right,
      left: left,
  
      margin-right: 'margin-right',
      margin-left: 'margin-left',
  
      padding-left: 'padding-left',
      padding-right: 'padding-right',
  
      border-top-left-radius: 'border-top-left-radius',
      border-bottom-left-radius: 'border-bottom-left-radius',
  
      border-top-right-radius: 'border-top-right-radius',
      border-bottom-right-radius: 'border-bottom-right-radius',
  
      border-left: 'border-left',
      border-right: 'border-right',
  
      translate: 'translate(-50%, -50%);',
      mirrorY: 'scale(1, 1)',
  
      border-right-color: 'border-right-color',
  
      transform-sidebar: 'rotate(90deg)',
  
      flex-flow: row nowrap,
      row: 'row',
  
      sidebar-close: translateX(0),
      sidebar-no-desktop: translateX(calc(0%)),
      '-': '-',
    ),
    rtl: (
      direction: rtl,
  
      right: left,
      left: right,
  
      margin-right: 'margin-left',
      margin-left: 'margin-right',
  
      padding-left: 'padding-right',
      padding-right: 'padding-left',
  
      border-top-left-radius: 'border-top-right-radius',
      border-bottom-left-radius: 'border-bottom-right-radius',
  
      border-top-right-radius: 'border-top-left-radius',
      border-bottom-right-radius: 'border-bottom-left-radius',
  
      border-left: 'border-right',
      border-right: 'border-left',
  
      translate: 'translate(50%, -50%);',
      mirrorY: 'scale(1, -1)',
  
      border-right-color: 'border-left-color',
      transform-sidebar: 'rotate(-90deg)',
  
      flex-flow: row-reverse nowrap,
      row: 'row-reverse',
  
      sidebar-close: translateX(0),
      sidebar-no-desktop:  translateX(calc(100%)),
      '-': '+',
    )
  );

@mixin directify($directions) {
    @each $direction, $map in $directions {
      .#{$direction}-support & {
        $direction-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($directions, $direction), '#{$key}');
          $direction-map: map-merge($direction-map, ($key: $value)) !global;
        }
        @content;
        $direction-map: null !global;
      }
    }
  }

.panel {
  transition: 0.3s;

  &.panel--collapse {
    height: 108px;

    &.panel--divider .panel__title, .panel__title {
      margin-bottom: 0;

      .subhead {
        opacity: 0;
      }
    }

    &.panel--success, &.panel--primary, &.panel--warning, &.panel--danger {
      height: 72px;
    }

    .panel__body {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  &.panel--narrow {

    .panel__title {
      margin-bottom: 0;
    }

  }

  &.panel--divider {

    .panel__title {
      margin-bottom: 15px;
    }

    .panel__content {
      @include directify($directions) {
        text-align: directed('left');
      }
      padding-top: 0px;
      padding-bottom: 40px;

      .tabs--bordered-bottom {
        .nav-item {
          border-bottom: 1px solid #dee2e6;
          .nav-link {
            @include themify($themes) {
              background-color: themed('colorBackground');
              color: themed('colorText');
            }
          }
        }

      }
    }
  }

  &.panel--success, &.panel--primary, &.panel--warning, &.panel--danger {

    .panel__body {
      padding: 0;
    }

    .panel__title {
      @include directify($directions) {
        #{directed('padding-right')}: 40px;
        #{directed('padding-left')}: 30px;
      }
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 15px;

      h5 {
        color: white;
      }
    }

    .panel__btns {
      top: 13px;

      svg {
        fill: $color-white;
      }
    }

    .panel__content {
      @include directify($directions) {
        #{directed('padding-right')}: 35px;
        #{directed('padding-left')}: 30px;
      }
      padding-top: 0px;
      padding-bottom: 40px;
    }
  }

  &.panel--success {

    .panel__title {
      background-color: $color-accent;
    }
  }

  &.panel--danger {

    .panel__title {
      background-color: $color-red;
    }
  }

  &.panel--warning {

    .panel__title {
      background-color: $color-yellow;
    }
  }

  &.panel--primary {

    .panel__title {
      background-color: $color-blue;
    }
  }
}

.panel__refresh {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  @include directify($directions) {
    #{directed('left')}: 0px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    @include directify($directions) {
      #{directed('left')}: 0px;
    }
    border-radius: 5px;

    @include themify($themes) {
      background-color: themed('colorBackground');
      opacity: 0.8;
    }
  }

  svg {
    fill: $color-accent;
    position: absolute;
    animation: refresh 1s infinite linear;
    z-index: 10;
    width: 48px;
    height: 48px;
    top: calc(50% - 24px);
    @include directify($directions) {
      #{directed('left')}: calc(50% - 24px);
    }
  }

  @keyframes refresh {

    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.panel__body {
  position: relative;
  @include directify($directions) {
    #{directed('padding-right')}: 35px;
    #{directed('padding-left')}: 30px;
  }
  padding-top: 30px;
  padding-bottom: 50px;
  transition: height 0.3s;
}

.panel__btns {
  position: absolute;
  top: 30px;
  right: 10px; // static css
  @include directify($directions) {
    #{directed('right')}: 10px;
  }
}

.panel__btn {
  width: 14px;
  height: 14px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  @include directify($directions) {
    #{directed('margin-left')}: 5px;
  }

  svg {
    width: 14px;
    height: 14px;
    fill: $color-additional;
  }

  &:focus {
    outline: none;
  }
}

.panel__title {
  text-transform: uppercase;
  margin-bottom: 30px;
  transition: 0.3s;

  h5 {
    font-size: 13px;
  }

  .subhead {
    @include directify($directions) {
      text-align: directed('left');
    }
    text-transform: none;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.7;
    transition: 0.3s;
  }
}

.panel__label {
  background-color: $color-accent;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 13px;
  padding: 3px 10px;
  @include directify($directions) {
    #{directed('left')}: 100%;
    #{directed('margin-left')}: 10px;
  }
}

.panel__icon {
  @include directify($directions) {
    display: inline-block;
    #{directed('margin-right')}: 5px;
  }
}
