.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1000;
    object-fit: cover;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    padding: 3rem;
    height: 500px;
    width: 450px;
    background: rgba(255, 255, 255, .1);
    border-radius: 10px;
    // border: 5px solid #fff;
    display: flex;
    flex-direction: column;
    > div {
        flex: 1;
    }
}

.login-logo {
    flex: 1;
    width: 300px;
    margin: auto;
    margin-bottom: 1.5rem;
}

.login-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fb-login-button {
    width: 300px;
    margin-right: 0;
    margin-bottom: 10px;
    background-color: #5890FF;
    color: #fff;
}